.icon {
  font-size: 50px;
  color: rgb(0, 179, 0);
  top: 5%;
  right: 5%;
}
.card-features {
  width: 600px;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}

.feature-detail {
  float: left;
}
