.Homepage {
  width: 100% !important;
}

.card {
  border-radius: 50px;
  border: rgba(0, 0, 0, 0.472) solid 5px;
  height: 100%;
  padding: 0;
}
.card-detail {
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
}
.carousel img {
  height: 100%;
}
.carousel-card {
  margin: 0 100px;
  height: 500px;
  overflow: hidden;
}
