.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}
.product-card {
  height: 400px;
  width: 400px;
}
.Product {
  margin: 50px 100px;
}
.fill {
  background-image: url("Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  grid-row: 9;
  grid-column: 5;
  border-radius: 10px;
  font-size: 2rem;
}
